@using ParserEngine.Models
@model Book
<div>
   <div class="success-color p-5">
       Success
   </div>
    <a class="btn btn-cyan" asp-action="DownloadBook"
       asp-controller="Home"
       asp-route-data="@Model.Url"></a>
</div>
