@using ParserEngine.Models
@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="card h-75 mx-auto col-lg-8 col-md-10 col-sm-12 flex-center">

        <div id="panel">
            @await Html.PartialAsync("_PartialForm", Model)
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
